<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title><%=route%></title>
    </head>
    <body>
        <form id="signup">
            <input name="name" type="text" />
            <input name="password" type="password" />
            <input type="submit" value="Signup!!" />
        </form>

        <%- include ./partials/footer.ejs %>
    </body>
    <script src="/js/script.js"></script>
</html>
